{% extends 'template.html.twig' %}

{% block title %}Gestion des Produits{% endblock %}

{% block body %}
    <h1>Liste des Produits</h1>
<a href="{{ path('produit_new') }}"class = "btn btn-success">AJOUTER PRODUIT</a>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Prix d'Achat</th>
                <th>Prix de Vente</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.Pa }}</td>
                <td>{{ produit.Pv }}</td>
                <td>{{ produit.stock }}</td>
              
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}" class = "btn btn-primary">Modifier</a>
                    <a href="{{ path('produit_delete', {'id': produit.id}) }}" class = "btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">AUCUN PRODUIT DE TROUVER</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    

{% endblock %}
