{% extends 'template.html.twig' %}

{% block title %}Nouveau  Client
{% endblock %}

{% block body %}
{% if message %}
	{{message}}
{% endif %}
	<h1>Creer un nouveau client</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn">{{ button_label|default('Enregistrer') }}</button>
	{{ form_end(form) }}

	<a href="{{ path('app_client') }}">Revenir</a>
{% endblock %}
